certifi==2020.11.8
chardet==3.0.4
click==7.1.2
filelock==3.0.12
idna==2.10
joblib==0.17.0
numpy==1.19.4
packaging==20.4
protobuf==3.13.0
pyparsing==2.4.7
regex==2020.10.28
requests==2.24.0
sacremoses==0.0.43
sentencepiece==0.1.91
six==1.15.0
tensorboardX==2.1
tokenizers==0.9.3
tqdm==4.51.0
transformers==3.5.0
urllib3==1.25.11
